// ======================================================================== //
// Bootstrap mixins below
// ======================================================================== //

@import "../../../node_modules/bootstrap/scss/mixins";

// ======================================================================== //
// Your mixins below
// ======================================================================== //


@mixin box-shadow-bottom {
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
  }

  

// org rgb(4, 82, 118);

@mixin vk-gradient {
    background-color: rgb(4, 82, 118);
    background-image: linear-gradient(180deg, rgb(4, 82, 118) 0, #024361 100%);
}

