
$skew-angle: 4deg;

.skewed-bg {
    background: $vk-primary;
    padding: 100px 0;
    transform: skewY(-4deg);
    margin-top: -100px;

    .content {
        transform: skewY(4deg);
        text-align: center;

        .title {
            padding-top: 100px;
            font-weight: normal;
        }

        .text {
            width: 60%;
            margin: 25px auto;
            color: lighten($vk-primary, 55);
        }

    }
}


.app-footer {
    margin-top: 3em;
    min-height: 300px;
    width: 100%;
    @include vk-gradient;
}

.footer-container {
    width: 100%;
    min-height: 300px;
    padding-bottom: 3em;
    background-image: url('/storage/app/media/VK-symbol_neg_copped_op20.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}

blockquote {
	padding: 6px 16px;
	border: none;
	quotes: "\201C" "\201D";
    display: inline-block;
}

blockquote p:before { 
    content: open-quote;
    font-weight: bold;
} 
blockquote p:after { 
    content: close-quote;
    font-weight: bold;
}