[viewBag]
==

<div class="container mt-4">
    <div class="row pt-2">
      <div class="col-md-2 text-center">
        <img src="{{ 'fr2000.png'|media}}" class="img-fluid">
      </div>
      <div class="col-md-10">
        <div class="h2">Miljö- och kvalitetsfrågor i centrum</div>
            <p>På Ventilationskontroll Aeolus bryr vi oss inte bara om inomhusmiljön, utan miljön i stort. Ett förutsättning för ett långsiktigt företagande.</p>
            <p>
                Samtliga medarbetare på Ventilationskontroll
                Aeolus har grundläggande miljökunskaper,
                vilka har byggts på efter hand. Genom ett gott
                samarbete och en öppen dialog med våra
                uppdragsgivare/kunder försöker vi att styra dem till
                materialval med låg miljöpåverkan.
            </p>
            <p>
                Idag ger vi våra kunder högsta nivå i lösningar
                och resultat. Samtidigt fortsätter vi att utveckla
                våra kompetenser, för att hela tiden hålla
                högsta standard inom kvalitet, miljötänk och
                arbetsmiljölösningar.
            </p>
            <p>
                Som ett led i arbetet är vi sedan 2009 kvalitets-
                och miljöcertifierade enligt FR2000.
            </p>
      </div>
    </div>
  </div>


