/**
 * Bootstrap - Starter Kit
 *
 * @author Prismify
 * @version 1.0.5
 */

// -------------------------------------------------------------------------------- //
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// -------------------------------------------------------------------------------- //

// Helpers
// -------------------------------------------------------------------------------- //
@import "helpers/+import.helpers";

// Vendors
// -------------------------------------------------------------------------------- //
@import "vendors/+import.vendors";

// Components
// -------------------------------------------------------------------------------- //
@import "components/+import.components";

// Layouts
// -------------------------------------------------------------------------------- //
@import "layouts/+import.layouts";

// Pages
// -------------------------------------------------------------------------------- //
@import "pages/+import.pages";

// Utilities
// -------------------------------------------------------------------------------- //
@import "utilities/+import.utilities";

//@include font('Roboto','../assets/webfonts/Roboto-Black.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-BlackItalic.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-Bold.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-BoldItalic.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-Italic.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-Light.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-LightItalic.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-Medium.ttf');
//@include font('Roboto','../assets/webfonts/Roboto-MediumItalic.ttf');
//@include font('Roboto','../webfonts/Roboto-Regular');
//@include font('Roboto','../webfonts/Roboto-Thin');
//@include font('Roboto','../assets/webfonts/Roboto-ThinItalic.ttf');

@font-face {
    font-family: "Roboto";
    src: url('../webfonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto Thin";
    src: url('../webfonts/Roboto-Thin.ttf');
    font-weight: thin;
}

@font-face {
    font-family: "Roboto Bold";
    src: url('../webfonts/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url('../webfonts/Lato-Regular.ttf');
}

@font-face {
    font-family: "Lato Thin";
    src: url('../webfonts/Lato-Thin.ttf');
    font-weight: thin;
}

@font-face {
    font-family: "Lato Bold";
    src: url('../webfonts/Lato-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Lato Italic";
    src: url('../webfonts/Lato-Italic.ttf');
}


html body {
    overflow-x: hidden;
    background-color: #f5f5f5;
    height: 100%;
    font-family: "Lato", sans-serif;
    color: #444;
    ;
}

.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto Bold";
}

.fill-primary-color {
    fill: $vk-primary;
}

.btn {
    border-radius: 0px;
}

.circular {
    border-radius: 50%;
}

a {
    color: $vk-primary;
}

a:hover {
    color: darken($vk-primary, 5%);
}

blockquote {
    div {
        font-size: 2em;
    }

    font-family: "Lato Italic";

}

//background: black url(storage/app/media/JS100.jpg) center top no-repeat;

/*
.clipped-right {
    width: 350px;
    height: 370px;
    display: inline-block;
    position: relative;
    margin-left: 14px;
    //background-color: #00577b;
    background-size: cover;
    //shape-outside: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 20% 100%, 0% 50%);
    //clip-path: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 20% 100%, 0% 50%);
    shape-outside: circle();
    clip-path: circle();
    float: right;
  }
*/


.clipped-right .img-clipped {
    width: 350px;
    height: 370px;
    //top: 2px; /* equal to border thickness */
    //left: 2px; /* equal to border thickness */
    //position: absolute;
    //background-color: #00577b;
    background-image:url("http://localhost:8080/storage/app/media/JS100.jpg");
    background-size: cover;
    //shape-outside: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 20% 100%, 0% 50%);
    //clip-path: polygon(20% 0, 100% 0, 100% 50%, 100% 100%, 20% 100%, 0% 50%);
    shape-outside: circle();
    clip-path: circle();
    float: right;
    
    margin-left: 14px;
    
  }

  .clipped-right img {
    width: 360px;
    height: 380px;
    opacity: 0.2;
  }

  .clipped-left {
    width: 150px;
    height: 370px;
    display: inline-block;
    position: relative;
    margin-right: 14px;
    background-color: #00577b;
    shape-outside:  polygon(0 0, 100% 0, 0 100%, 0 100%);
    clip-path:  polygon(0 0, 100% 0, 0 100%, 0 100%);
    float: left;
  }
