<section id="customers">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-12 text-center my-4">
                <h2 class="section-heading">Projekt</h2>
                <h5 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col-md-2 text-center">
                <img src="{{ 'logos/al_grund.webp'|media}}" class="img-fluid img-thumbnail p-2">
            </div>
            <div class="col-md-10">
                <div class="h2">Atrium Ljungberg</div>
                <h5 class="section-subheading text-muted">Projektering och installation av kylanläggning</h5>
                    <p>
                        Projektering och installation av ventilationsanläggning
                        inklusive el och styr för kontorsverksamhet, lokalyta på
                        cirka 3 000 kvadratmeter. Diverse övriga utredningar,
                        projekteringsarbeten och utförandeentreprenader i
                        lokalen på Lindholmen.
                    </p>
            </div>
        </div>
        <hr />
        <div class="row pt-2">
            <div class="col-md-2 text-center">
                <img src="{{ 'logos/victoria_park_logo.png'|media}}" class="img-fluid img-thumbnail p-2">
            </div>
            <div class="col-md-10">
                <div class="h2">Victoria Park</div>
                <h5 class="section-subheading text-muted">Effektiva Aggregatbyten</h5>
                    <p>
                        I Lövgärdet har vi bytt ventilationsaggregat
                        på elva fastigheter som ägs av Victoria Park.
                        Vi har bytt till Swegons aggregat och det här
                        energisparprojektet initierades av oss själva.
                    </p>
                    <p>
                        åra ingenjörer räknade på vad
                        Victoria Park kunde vinna på att byta
                        ut sina servicekrävande anläggningar,
                        från 1960-talet, och kom fram till att
                        investeringen skulle vara intjänad på bara
                        åtta år. I och med att Ventilationskontroll
                        Aeolus har all kompetens i huset
                        minimerades projektledningskostnaderna,
                        samtidigt som inga externa utredningar
                        behövde göras. Vi lämnade också över
                        kompletta drift- och skötselinstruktioner
                        samt relationsritningar, allt för att göra det
                        så enkelt som möjligt för kunden.
                    </p>
            </div>
        </div>
        <hr />

        <div class="row pt-2">
            <div class="col-md-2 text-center">
                <img src="{{ 'logos/akademins_hus.jpg'|media}}" class="img-fluid img-thumbnail p-2">
            </div>
            <div class="col-md-10">
                <div class="h2">Akademiska hus Göteborg</div>
                <h5 class="section-subheading text-muted"> Medkemi, energisparprojekt</h5>
                    <p>
                       Byte av
                        aggregat under pågående drift. Änggården,
                        energisparprojekt. Byte av aggregat under
                        pågående drift.
                    </p>
                    <p>
                        Diverse service- och underhållsarbeten såsom
                        reparationer, filterbyte, fläktbyten med
                        mera. Diverse utredningar och injusterin
                    </p>
            </div>
        </div>
        


</section>