description = "App Footer"
==
<div class="footer-container">
    <div class="container text-light pt-4" >
        <div class="row pt-4">
            
            <div class="col-md-4">
                <img id="logo" class="navbar-logo" src="{{ 'VK-Inneklimat_neg_webb.png'|media}}">
                <div class="mt-2 mb-2 small text-muted">&copy; {{ "now"|date("Y") }} Ventilationskontroll Aeolus AB</div>
            </div>

            <div class="col-md-4 small">
                <div class="small pb-2 font-weight-bold">KONTAKT</div>
                <div>Tel: 031 23 86 75</div>
                <div>E-Post: <a class="text-secondary"
                        href="mailto:info@ventilationskontroll.nu">info@ventilationskontroll.nu</a></div>


                <div class="small pb-2 mt-4 font-weight-bold">ADRESS</div>
                <div>Ventilationskontroll Aeolus AB</div>
                <div>Fiskhamnsgata 8E</div>
                <div>414 58 Gothenburg</div>
            </div>

            <div class="col-md-4 small">
                <div class="small pb-2 font-weight-bold">OM OSS</div>
                Verksamheten startade redan 1980, med fokus på ventilationsservice. 2000 slog vi oss samman med Aeolus
                och kompletterade med OVK, injustering och luftbehandlingsinstallationer.
            </div>

        </div>
    </div>
</div>