description = "Site Header"
==

<nav class="navbar fixed-top navbar-expand-md  navbar-light">
    <div class="container">
    <a class="navbar-brand" href="/">
        <img id="logo" class="navbar-logo" src="{{ 'VK-Inneklimat_web.png'|media}}">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="{{ ''|app }}">Hem</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="/nyheter">Nyheter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase" href="/kontakt">Kontakta oss</a>
          </li>
      </ul>
    </div>
    </div>
</nav>
  
