<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center my-4">
                <h2 class="section-heading">Våra tjänster</h2>
                <h5 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="{{ 'icons/crane.svg'|media }}" width="60" height="60">
                <h4 class="service-heading">Ombyggnationer</h4>
                <p class="text-muted">Vi är ett komplett installationsföretag som både kan projektera, rita, bygga och sedan utföra service och underhåll.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ 'icons/tools.svg'|media }}" width="60" height="60">
                <h4 class="service-heading">Service</h4>
                <p class="text-muted">Inom service tar vi ansvaret för drift och underhåll av befintliga maskiner. Vi byter
                    filter, gör rent aggregat och mycket mer. Här erbjuder vi våra kunder skräddarsydda
                    och smidiga serviceavtal, baserade på de behov som finns.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ 'icons/green-energy.svg'|media }}" width="60" height="60">
                <h4 class="service-heading">Energioptimering</h4>
                <p class="text-muted">
                    Vad kan man göra för att få ett bättre inneklimat och en effektivare
energianvändning? Fråga oss! Våra certifierade energiexperter analyserar dina behov
och rekommenderar sedan den bästa lösningen.
                </p>
            </div>
        </div>
 
        <div class="row text-center">
            <div class="col-md-4">
                <img src="{{ 'icons/settings.svg'|media }}" width="60" height="60">
                <h4 class="service-heading">Injustering</h4>
                <p class="text-muted">Våra erfarna justerare ser till att din ventilationsanläggning är rätt inställd, vilket också innebär en effektiv energianvändning.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ 'icons/search.svg'|media }}" width="60" height="60">
                <h4 class="service-heading">OVK</h4>
                <p class="text-muted">Vi utför OVK och våra besiktningsmän lämnar alltid förslag på
                    energieffektiviserande åtgärder. Vi är en av Göteborgs största aktörer inom OVK och
                    kan ofta ställa upp med kort varsel.</p>
            </div>
            <div class="col-md-4">
                <img src="{{ 'icons/cold.svg'|media }}" width="60" height="60">
                <h4 class="service-heading">Kylinstallationer</h4>
                <p class="text-muted">Vi är en trygg totalpartner när det gäller kylaggregat och värmepumpar. Vi
                    tar fram lösningar som ger dig ett bra inomhusklimat samt monterar och
                    servar anläggningen.</p>
            </div>
        </div>



</section>