<div class="container d-block py-4 mt-4">

    <div class="stat card mx-auto" style="max-width: 600px;">
        <div class="row no-gutters">
            <div class="col-sm-5 p-4">
                <img src="{{ 'icons/building.svg'|media }}" class="card-img-top h-100">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h2 class="card-title">500 Serviceavtal</h2>
                    <p class="card-text">Vi har serviceavtal på cirka 500 fastigheter i Göteborgs
                        stad samt ram- och driftoptimeringsavtal med de flesta
                        större fastighetsägare och kommunala förvaltningar.</p>
                    <a href="/kontakt" class="btn btn-primary stretched-link">Kontakta oss för mer info</a>
                </div>
            </div>
        </div>
    </div>

</div>