title = "Home"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 2
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "index"
postPage = "nyheter"
==


<!-- <div class="container" style="margin-top: 5em;font-size: 1.2em;">
    <div class="h2">Inneklimat att må bra i</div>
    <div class="row">
        <div class="col-xs-12 col-md-6" style="clip-path: polygon(0 0, 100% 0%, 73% 100%, 0% 100%)">
            <p>Ett bra inomhusklimat är viktigt för effektiviteten och produktiviteten. Våra prestationer
                är direkt relaterade till inomhusklimatet. Är det för varmt eller för kallt sjunker vår
                prestationsnivå snabbt. Frisk och bra luft i till exempel skolor ger också friska barn.</p>
            <p>
                Ditt inomhusklimat ordnar vi på Ventilationskontroll Aeolus i Göteborg. Våra lösningar bygger
                på gedigna kunskaper och erfarenheter, men också på kännedom om just ditt företag och
                verksamhet. Vi värdesätter långa kundrelationer, där vi över tid kan se de positiva resultaten
                av vårt arbete.
            </p>
            <p>
                I snart 40 år har vi optimerat fastigheters inneklimatsystem och idag är vi ett komplett
                installationsföretag som levererar olika inneklimatlösningar. Vi är mycket stolta över det
                återkommande förtroende flertalet kunder ger oss. Något vi värderar högt och förvaltar väl
                med hjälp av våra många duktiga medarbetare.
            </p>
        </div>

        <div class="col-md-6 d-none d-md-block" style="clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
                                                                background-image: url({{ 'JS100.jpg' |media }});
                                                                background-size: cover;
                                                                background-position: 0% 50%;
                                                                ">

        </div>
    </div>
</div>
 -->
 <div class="container" style="margin-top: 5em;font-size: 1.2em;">
    <div class="h2">Inneklimat att må bra i</div>
    <div class="clipped-right d-none d-md-block">
        <div class="img-clipped">
            <img src="{{'VK symbol_neg.svg'|media}}">
        </div>
    </div>
    
    
    <div class="text-justify">
        <p>Ett bra inomhusklimat är viktigt för effektiviteten och produktiviteten. Våra prestationer
            är direkt relaterade till inomhusklimatet. Är det för varmt eller för kallt sjunker vår
            prestationsnivå snabbt. Frisk och bra luft i till exempel skolor ger också friska barn.</p>
        <p>
            Ditt inomhusklimat ordnar vi på Ventilationskontroll Aeolus i Göteborg. Våra lösningar bygger
            på gedigna kunskaper och erfarenheter, men också på kännedom om just ditt företag och
            verksamhet. Vi värdesätter långa kundrelationer, där vi över tid kan se de positiva resultaten
            av vårt arbete.
        </p>
        <p>
            I snart 40 år har vi optimerat fastigheters inneklimatsystem och idag är vi ett komplett
            installationsföretag som levererar olika inneklimatlösningar. Vi är mycket stolta över det
            återkommande förtroende flertalet kunder ger oss. Något vi värderar högt och förvaltar väl
            med hjälp av våra många duktiga medarbetare.
        </p>
    </div>
</div>




<div class="container mt-5">
    <blockquote class="blockquote w-100 text-center p-4">
        <div>“There is no subject directly connected with life on which there is so large an amount of popular ignorance as ventilation.”</div>
        <footer class="text-muted small">"The Architecture of Country Houses" av Andrew Jackson Downing - 1859.</footer>
    </blockquote>
</div>

{% partial 'app/services.htm' %}

{% partial 'app/stats.htm' %}


{% partial 'fr2000.htm' %}

{% set posts = blogPosts.posts %}

<div class="skew text-light">
    {% for post in posts %}
    {% if loop.index == 1 %}
    <div class="content-area top-left">
        <h2>{{ post.title }}</h2>
        <p>
            {{ post.excerpt }}
        </p>
        <a href="{{ post.url }}" class="btn btn btn-outline-light">Läs mer</a>
    </div>

    {% if post.featured_images.count %}

    {% for image in post.featured_images %}
    {% if loop.index == 1 %}
    <div class="bg-image top-right" style="background-image: url({{ image.path }});"></div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="bg-image top-right" style="background-image: url({{ 'pexels-pixabay-262488.jpg'|media }});"></div>
    {% endif %}


    {% else %}

    {% if post.featured_images.count %}

    {% for image in post.featured_images %}
    {% if loop.index == 1 %}
    <div class="bg-image bottom-left" style="background-image: url({{ image.path }});"></div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="bg-image bottom-left" style="background-image: url({{ 'pexels-pixabay-262488.jpg'|media }});"></div>
    {% endif %}

    <div class="content-area bottom-right">
        <h2>{{ post.title }}</h2>
        <p>
            {{ post.excerpt }}
        </p>
        <a href="{{ post.url }}" class="btn btn btn-outline-light">Läs mer</a>

    </div>
    {% endif %}


    {% endfor %}
</div>



{% partial 'app/customers.htm' %}



