title = "Kontakta oss"
url = "/kontakt"
layout = "default"
is_hidden = 0

[LeafletMap]
coords = "57.69690,11.92004"
zoom = 15
markerCoords = "57.69691,11.92001"
markerText = "redmarlin.leafletmap::lang.components.leafletmap.markerText.default"
scrollProtection = "false"
==
<div class="container">
    <script src="/plugins/redmarlin/leafletmap/assets/js/leaflet.js"></script>

    <div class="h2">Kontakta Oss</div>

 
    <div id="leafmap"></div>

    <div class="p-3">
        <div class="h4">Långsiktiga relationer</div>
        Vår affärsidé är att bygga ett nära samarbete med beställare och slutkund. Vi är problemlösare och känner
        samtidigt väl till många kunders tekniska anläggningar, eftersom vi helst etablerar långsiktiga
        affärsrelationer. Därför kan vi sköta våra kunders anläggningar effektivt och samtidigt föreslå förbättrande
        åtgärder - för att spara energi, pengar och miljö.
    </div>

    <div class="business-address p-3">
        <p class="h4">Ventilationskontroll Aeolus AB</p>
        <p>Fiskhamnsgata 8E</p>
        <p>414 58 Gothenburg</p>
        <p>Sweden</p>
        <p class="mt-2">Tel: +46 31 23 86 75</p>
        <p><a href="mailto:info@ventilationskontroll.nu">info@ventilationskontroll.nu</a></p>            
        
    </div>

    <div class="py-3">

        <section id="team" class="pb-5">
            <div class="container">
                <h5 class="section-title">Kontaktpersoner</h5>
                <div class="row">
                    <!-- Team member -->
                    <div class="col-xs-12 col-sm-6 col-md-4 d-flex align-items-stretch mb-4">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="mx-auto bg-cover"
                                    style="border-radius: 50%;width: 100px; height: 100px;background-image: url({{ 'aleks.jpg'|media }})">
                                </div>
                                <div class="p-2 text-center">
                                    <h4 class="card-title text-center m-1">Aleksandar Köster</h4>
                                    <p class="card-text text-muted m-0">VD</p>
                                    <p class="card-text">Tel: 0706-238675</p>
                                    <p class="card-text">E-Post: <a
                                            href="mailto:aleks@ventilationskontroll.nu">aleks@ventilationskontroll.nu</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 d-flex align-items-stretch mb-4">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="mx-auto bg-cover"
                                    style="border-radius: 50%;width: 100px; height: 100px;background-image: url({{ 'laden.jpg'|media }})">
                                </div>
                                <div class="p-2 text-center">
                                    <h4 class="card-title text-center m-1">Laden Köster</h4>
                                    <p class="card-text text-muted m-0">Ekonomi</p>
                                    <p class="card-text">Tel: 031-238675</p>
                                    <p class="card-text">E-Post: <a
                                            href="mailto:laden@ventilationskontroll.nu">laden@ventilationskontroll.nu</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4 d-flex align-items-stretch mb-4">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="mx-auto bg-cover"
                                    style="border-radius: 50%;width: 100px; height: 100px;background-image: url({{ 'rene.jpg'|media }})">
                                </div>
                                <div class="p-2 text-center">
                                    <h4 class="card-title text-center m-1">René Frattini</h4>
                                    <p class="card-text text-muted m-0">Projektledare</p>
                                    <p class="card-text">Tel: 0709-321018</p>
                                    <p class="card-text">E-Post: <a
                                            href="mailto:rene@ventilationskontroll.nu">rene@ventilationskontroll.nu</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-sm-6 col-md-4 d-flex align-items-stretch mb-4">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="mx-auto bg-cover"
                                    style="border-radius: 50%;width: 100px; height: 100px;background-image: url({{ 'matz.jpg'|media }})">
                                </div>
                                <div class="p-2 text-center">
                                    <h4 class="card-title text-center m-1">Matz Flodin</h4>
                                    <p class="card-text text-muted m-0">Projektledare</p>
                                    <p class="card-text">Tel: 0705-209698</p>
                                    <p class="card-text">E-Post: <a
                                            href="mailto:matz@ventilationskontroll.nu">matz@ventilationskontroll.nu</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>


    </div>

    <script>
        var map = L.map('leafmap', { scrollWheelZoom: {{ LeafletMap.property('scrollProtection') }} })
  		.setView([{{ LeafletMap.property('coords') }}], {{ LeafletMap.property('zoom') }});
        L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png', {
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            maxZoom: 18
        }).addTo(map);
        map.once('focus', function () { map.scrollWheelZoom.enable(); });
        {% if LeafletMap.property('markerCoords') %}
            var marker = L.marker([{{ LeafletMap.property('markerCoords') }}]).addTo(map);
            marker.bindPopup("{{ LeafletMap.property('markerText') }}");
        {% endif %}
    </script>