title = "Nyheter"
url = "/nyheter/:slug?"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "index"
==
{% set post = blogPost.post %}

<div class="container-lg text-justify">

    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="content">{{ post.content_html | raw }}</div>
        </div>

        <div class="col-md-4 d-none d-md-block">
            {% partial 'app/nyheter-lista.htm' %}
        </div>
    </div>
</div>


{% if post.featured_images.count %}

    <div class="row justify-content-center mt-5">
    
    <div class="col-md-8">
            <div class="row">
        {% for image in post.featured_images %}
            {% if loop.index > 1%}
                <div href="#" class="col-sm-4">
                    <img src="{{ image.path }}" class="img-thumbnail"/>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        </div>
        </div>
        
    
{% endif %}