title = "Skew Example"
url = "/skew-example"
layout = "default"
is_hidden = 0
==
<div>
	<div class="skewed-bg">
		<div class="content">
			<h1 class="title">Skewed background with CSS</h1>
			<p class="text">This is a quick example to show @AlbertGlezRoges how to get skewed backgrounds with plain
				HTML & CSS.</p>
		</div>
	</div>
	<div class="container text-light" style="height: 200px;margin-top: 5em;">
		asöälkdjaölskjdöld
	</div>

	<div class="skewed-bg mt-6">
		<div class="content">
			<h1 class="title">Skewed background with CSS</h1>
			<p class="text">This is a quick example to show @AlbertGlezRoges how to get skewed backgrounds with plain
				HTML & CSS.</p>
		</div>
	</div>
</div>