// ======================================================================== //
//
// Name:            Home
// Description:     Styles specific to the home page
//
// ======================================================================== //

// Variables
// ======================================================================== //

// ======================================================================== //
// Page: Home
// ======================================================================== //

// Section: Intro
// ------------------------------------------------------------------------ //


$skew-angle: 3deg;

.content-area {
    padding: 4rem;
    max-width: 600px;
    align-self: end;
}

.skew {
    position: relative;

    @include vk-gradient;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    transform: skewY($skew-angle);
}

.bg-image {
    background-color: $vk-primary;
    background-size: cover;
    background-position: center 50%;
}

.top-left {
    justify-self: end;
}



.top-left,
.top-right {
    transform: skewY(-$skew-angle);
}

.bottom-left,
.bottom-right {
    transform: skewY(-$skew-angle);
}

.top-right,
.bottom-right {
    transform-origin: left;
}

.top-left,
.bottom-left {
    transform-origin: right;
}


@media (max-width: 800px) {
    .skew>div {
        grid-column-start: 0;
        grid-column-end: 1;
        transform-origin: center;
    }

    .top-left {
        justify-self: start;
    }

    .bg-image {
        height: 400px;
    }

    .bottom-left {
        grid-row: 4;
    }
}